.body{
    background-color: black;
    font-family:'Courier New', Courier, monospace;
}

.button{
    border-radius: 10px;
    background-color:rgb(215, 41, 137);
    border: none;
    margin: 5px;
    height: 35px;
    width: 220px;
    color: white;
    font-size:medium;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #379ccb;
}

.div{
    border: 5px solid rgb(60, 60, 60);
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
    margin: 15px;
    color: rgb(215, 41, 137);
}

.h1{
    display: flex;
    justify-content: center;
    color: rgb(215, 41, 137);
}

input{
    margin: 10px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(207, 105, 161);
    transition: width 0.4s ease-in-out;
    width: 8%;
}

input:focus {
    width: 40%;
}

label {
    font-size: large;
}